<a href="https://colab.research.google.com/github/bilzard/JQuants-news/blob/main/004_fetch_latest_stock_price.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# はじめに

この notebook では [JQuantsAPI] をつかって最新の株価データを取得します。

[JQuantsAPI]: https://jpx-jquants.com/apidoc.html

In [155]:
# Google Colab環境ではGoogle Driveをマウントしてアクセスできるようにします。
import sys

if 'google.colab' in sys.modules:
    # Google Drive をマウントします
    from google.colab import drive
    mount_dir = "/content/drive"
    drive.mount(mount_dir)

Mounted at /content/drive

In [156]:
# データセットを配置したディレクトリのパスを設定
if 'google.colab' in sys.modules:
    dataset_dir = f"{mount_dir}/MyDrive/JPX_competition/data_dir_comp2"
else:
    dataset_dir = "/notebook/data_dir_comp2"

In [169]:
refresh_token = '(自分のAPI tokenを入力します)'

In [91]:
import os
import json
import requests
import base64
import pandas as pd
import numpy as np

In [12]:
def call_jquants_api(params: dict, idtoken: str, apitype: str, code: str = None):
    """
    J-QuantsのAPIを試すメソッド。

    Parameters
    ----------
    params : dict
        リクエストパラメータ。
    idtoken : str
        idTokenはログイン後の画面からご確認いただけます。
    apitype: str
        APIの種類。"news", "prices", "lists"などがあります。
    code: str
        銘柄を指定するAPIの場合に設定します。

    Returns
    -------
    resjson : dict
        APIレスポンス(json形式)
    """
    datefrom = params.get("datefrom", None)
    dateto = params.get("dateto", None)
    date = params.get("date", None)
    includedetails = params.get("includedetails", "false")
    keyword = params.get("keyword", None)
    headline = params.get("headline", None)
    paramcode = params.get("code", None)
    nexttoken = params.get("nextToken", None)
    headers = {"accept": "application/json", "Authorization": idtoken}
    data = {
        "from": datefrom,
        "to": dateto,
        "includeDetails": includedetails,
        "nextToken": nexttoken,
        "date": date,
        "keyword": keyword,
        "headline": headline,
        "code": paramcode,
    }

    if code:
        code = "/" + code
        r = requests.get(
            "https://api.jpx-jquants.com/" + apitype + code,
            params=data,
            headers=headers,
        )
    else:
        r = requests.get(
            "https://api.jpx-jquants.com/" + apitype, params=data, headers=headers
        )
    resjson = json.loads(r.text)
    return resjson

In [21]:
class IdToken:
  def __init__(self, refresh_token):
    self._refresh_token = refresh_token
    self.refresh()

  def _get_id_token(self):
    headers = {"accept": "application/json"}
    data = {"refresh-token": self._refresh_token}

    response = requests.post(
        "https://api.jpx-jquants.com/refresh", headers=headers, data=json.dumps(data)
    )

    resjson = json.loads(response.text)
    return resjson

  def refresh(self):
    ret = self._get_id_token()
    self._id_token = ret['idToken']

  def get(self):
    return self._id_token

In [108]:
class Prices(object):
  def __init__(self, params, id_token):
    self._params = params
    self._id_token = id_token
    self._next_token = None
    self._stop = False

  def __iter__(self):
    return self

  def __next__(self):
    return self.next()

  def next(self):
    if self._stop:
      raise StopIteration()

    params['nextToken'] = self._next_token
    ret = call_jquants_api(params, self._id_token, 'prices')

    if 'nextToken' in ret:
      self._next_token = ret['nextToken']
    else:
      self._next_token = None
      self._stop = True

    return ret['prices']

In [119]:
idToken = IdToken(refresh_token)
prices = Prices(params, idToken.get())
results = [json.dumps(price) for price in prices]

In [134]:
pd.concat(
    [pd.read_json(json_ret) for json_ret in results],
    ignore_index=True
)

      EndOfDayQuote Open  ...  EndOfDayQuote Volume
0                 3060.0  ...                 27000
1                  532.0  ...               1555200
2                 2615.0  ...                228600
3                 1010.0  ...                   400
4                 1959.0  ...                139100
...                  ...  ...                   ...
3702              1757.0  ...                  2300
3703              2439.0  ...                 32900
3704               446.0  ...                101700
3705                 0.0  ...                     0
3706              1313.0  ...                203700

[3707 rows x 16 columns]

2021/01/01 - 2021/04/30 までの株価を取得します。
だいたい20〜30分くらいかかります。

In [ ]:
from tqdm import tqdm


idToken = IdToken(refresh_token)
results = []
dates = [dt.strftime('%Y-%m-%d') for dt in pd.date_range(start='2021-01-01', end='2021-04-30')]

for date in tqdm(dates):
  params = {
    'includedetails': 'True',
    'date': date,
    'nextToken': None,
  }
  prices = Prices(params, idToken.get())

  for price in prices:
    results.append(json.dumps(price))

df_price = pd.concat(
    [pd.read_json(json_ret) for json_ret in results],
    ignore_index=True
)

 43%|████▎     | 52/120 [07:30<06:57,  6.14s/it]

In [154]:
df_price

        EndOfDayQuote Open  ...  EndOfDayQuote Volume
0                   2951.0  ...                  9700
1                    428.0  ...               1780500
2                   2229.0  ...                112400
3                    975.0  ...                   600
4                   1701.0  ...                 67900
...                    ...  ...                   ...
300445              1722.0  ...                  5200
300446              2336.0  ...                  5300
300447               428.0  ...                 83100
300448              1501.0  ...                   300
300449              1165.0  ...                251300

[300450 rows x 16 columns]

In [170]:
# ローカルディレクトリに保存
df_price.to_csv('stock_price_latest.csv')

In [160]:
# gz ファイルに圧縮
! gzip stock_price_latest.csv.gz stock_price_latest.csv

gzip: stock_price_latest.csv.gz already has .gz suffix -- unchanged
gzip: stock_price_latest.csv.gz already exists; do you wish to overwrite (y or n)? y

In [161]:
! ls -l stock_price_latest.csv.gz

-rw-r--r-- 1 root root 10310270 May  2 03:59 stock_price_latest.csv.gz

In [166]:
! ls -l

total 10080
drwx------ 5 root root     4096 May  2 03:55 drive
drwxr-xr-x 1 root root     4096 Apr 21 13:39 sample_data
-rw-r--r-- 1 root root 10310270 May  2 03:59 stock_price_latest.csv.gz

In [167]:
# Google Drive 上に保存します
! cp stock_price_latest.csv.gz {dataset_dir}/.